extends layout

block content
  span(class="title") #{title} 
  span(class="explain") - Daily mash-up using #[a(href="http://doc.qt.io/qt-5/qt5-intro.html") Qt5] and #[a(href="http://opencv.org/") OpenCV]
  div(class="container")
    video(controls)
      source(type="video/mp4")
      source(type="video/ogg")
      |Your browser does not support the video tag.
    div(class="overlay")
  footer 
    p Source code available at #[a(href="https://github.com/kmcintyre/morningoogle.com") Github] 